<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ block "block" . }}WissKI Distillery{{ end }}</title>
    {{ block "styles" . }}styles{{ end }}
</head>

<body>
    {{ .BaseContext.DoInitCheck }}
    <header>
        <h1 id="top">{{ template "title" . }}</h1>
        {{ block "header" . }}<!-- no header by default -->{{ end }}
    </header>
    <main>
        <div class="pure-g">
            {{ block "content" . }}content{{ end }}
        </div>
    </main>

    <footer>
        {{ block "@custom/footer" .BaseContext }}
            <div style="z-index:10000;position:fixed;top:0;left:0;width:100vh;height:100vw;background:red;text-align:center;padding:10vh 10vw;font-size:xx-large;font-weight:bold">
                <code>.Custom.Template()</code> not called
            </div>
        {{ end }}
    </footer>


    {{ block "scripts" . }}scripts{{ end }}
</body>