<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <title>{{ .Runtime.Flags.Title }}</title>
        {{ .Runtime.Flags.Assets.Styles }}
    </head>

    <body>
        <nav class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list" role="menubar">
                {{ range .Runtime.Menu }}
                <li class="pure-menu-item{{ if .Active }} pure-menu-selected{{ end }}" role="menuitem">
                    <a href="{{ .Path }}" class="pure-menu-link">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
            {{ range .Runtime.Flags.Crumbs }}
                <a class="{{ if .Active }}active{{ end }}" href="{{ .Path }}">{{ .Title }}</a>
            {{ end }}
        </nav>

        <header>
            <h1 id="top">{{ .Runtime.Flags.Title }}</h1>
            {{ if .Runtime.Flags.Actions }}
                <div class="pure-button-group" role="group" aria-label="Actions">
                    {{ range .Runtime.Flags.Actions }}
                        <a href="{{ .Path }}" class="pure-button{{ if eq .Priority -1 }} pure-button-small{{end}}">{{ .Title }}</a>
                    {{ end }}
                </div>
            {{ end }}
        </header>
        <main>
            <div class="pure-g" id="main">
                {{ .Main }}
            </div>
        </main>

        <footer>
            {{ .Footer }}
        </footer>

        {{ .AfterBody }}
        {{ .Runtime.Flags.Assets.Scripts }}
    </body>

</html>