<div class="pure-u-1">
    <h2 id="backups">Backups</h2>
    <p>
        <em>Backups</em> contain data about the distillery as a whole.
        <em>Snapshots</em> contain information about a single instance.
    </p>
    <p>
        You can see the existing list of backups in the list below and <button class="remote-action pure-button pure-button-action pure-button-small" data-action="backup" data-buffer="1000" data-force-reload>Make A New Backup</button>.
    </p>
    <p>
        Both backups and snapshots are kept for <code>{{ .Config.MaxBackupAge }}</code>.
        Old snapshots can be removed by clicking <button class="remote-action pure-button pure-button-small pure-button-action" data-action="prune" data-buffer="1000" data-force-reload>Prune Backups And Snapshots</button>.
    </p>
</div>

<div class="pure-u-1">
    <table class="pure-table pure-table-bordered padding">
    <thead>
            <tr>
                <th>Path</th>
                <th>Created</th>
                <th>Packed</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Backups }}
            <tr>
                <td>
                    <code class="path">{{ .Path }}</code>
                </td>
                <td>
                    <code class="date">{{ .Created.Format "2006-01-02T15:04:05Z07:00" }}</code>
                </td>
                <td>
                    {{ .Packed }}
                </td>
            </tr>
            {{ end}}
        </tbody>
    </table>
</div>


<div class="pure-u-1">
    <h2 id="overview">Distillery Services</h2>
    <table class="pure-table pure-table-bordered padding">
        <thead>
            <tr>
                <th>Service</th>
                <th>Interface</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    SQL
                </td>
                <td>
                    {{ $pma := .Config.HTTP.PhpMyAdminURL }}
                    {{ if $pma }}
                        <a href="{{ $pma }}" class="pure-button pure-button-small" target="_blank" rel="noopener noreferer">PHPMyAdmin</a>
                    {{ else }}
                        (accessible via SSH)
                    {{ end }}
                </td>
                <td>
                    <code class="copy">{{ .Config.SQL.AdminUsername }}</code>
                </td>
                <td>
                    <span data-reveal="{{ .Config.SQL.AdminPassword }}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Triplestore
                </td>
                <td>
                    {{ $ts := .Config.HTTP.TSURL }}
                    {{ if $ts }}
                        <a href="{{ $ts }}" class="pure-button pure-button-small" target="_blank" rel="noopener noreferer">Workbench</a>
                    {{ else }}
                        (accessible via SSH)
                    {{ end }}
                </td>
                <td>
                    <code class="copy">{{ .Config.TS.AdminUsername }}</code>
                </td>
                <td>
                    <span data-reveal="{{ .Config.TS.AdminPassword }}"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pure-u-1">
    <h2 id="overview">Distillery Configuration</h2>
</div>

<div class="pure-u-1">
    <pre>
        <code class="language-yaml">{{ .Config.MarshalSensitive }}</code>
    </pre>
</div>
