<div class="pure-u-1-1">
    <form class="pure-form pure-form-aligned" id="rebuild">
        <fieldset>
            <legend>Main Parameters</legend>

            <div class="pure-control-group">
                <label for="slug">Slug</label>
                <input name="slug" id="slug" placeholder="" readonly="readonly" value="{{ .Slug }}">
            </div>
        </fieldset>
        <fieldset>
            <legend>System Parameters</legend>
            
            <div class="pure-control-group">
                <label for="php">PHP Version</label>
                <select id="php">
                    {{ $PHP := .System.PHP }}
                    <option {{ if eq $PHP "" }}selected{{ end }}>Default ({{ .DefaultPHPVersion }})</option>
                    {{ range .PHPVersions }}
                        <option {{ if eq $PHP . }}selected{{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>
            <label for="opcacheDevelopment" class="pure-checkbox">
                <input {{ if .System.OpCacheDevelopment }}checked{{end}} type="checkbox" id="opcacheDevelopment"/>
                Opache Development Configuration
            </label>
            <div class="pure-control-group" class="pure-input-1">
                <label for="contentsecuritypolicy">Content Security Policy</label>
                <input name="contentsecuritypolicy" id="contentsecuritypolicy" list="content-security-policy" value="{{ .System.ContentSecurityPolicy }}">
            </div>
        </fieldset>
        <fieldset>
            <legend>Profile</legend>

            <div class="pure-control-group">
                Not yet available
            </div>
        </fieldset>

        <input type="submit" value="Rebuild" class="pure-button">
    </form>
</div>

<datalist id="content-security-policy">
    {{ range .ContentSecurityPolicies }}
        <option value="{{ . }}">
    {{ end }}
</datalist>