{{ if not .Info.OK }}
<div class="pure-u-1 wisski-broken-message">
    <h2>Fetching Information for this instance returned an error</h2>

    <p>
        <code>{{ .Info.Error }}</code>
    </p>

    <p>
        Some functionality might be unavailable or result in errors.
    </p>
</div>
{{ end }}

<div class="pure-u-1">
    <h2 id="overview">Overview</h2>
</div>

<div class="pure-u-1 pure-u-xl-1-2">
    <div class="h-md-padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Overview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Slug
                        </td>
                        <td>
                            <code>{{ .Info.Slug }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            URL
                        </td>
                        <td>
                            <a href="{{ .Info.URL }}" target="_blank" rel="noopener noreferrer">{{ .Info.URL }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Running
                        </td>
                        <td>
                            <code>{{ .Info.Running }}</code>
                            <div class="pure-button-group" role="group">
                                <button class="remote-action pure-button pure-button-action" data-action="start" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload>
                                    (Re)Start
                                </button>
                                <button class="remote-action pure-button pure-button-danger" data-action="stop" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload>
                                    Stop
                                </button>
                                <button class="remote-action pure-button" {% if .Info.Running %}{% else %}disabled="disabled"{% end %} data-action="instance_log" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload data-cancel-text="Stop">
                                Logs
                            </button>
                            </div>

                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Locked
                        </td>
                        <td>
                            <code>{{ .Info.Locked }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP Version
                        </td>
                        <td>
                            <code>{{ .Info.PHPVersion }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Drupal Version
                        </td>
                        <td>
                            <code>{{ .Info.DrupalVersion }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pure-u-1 pure-u-xl-1-2">
    <div class="h-md-padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            System
                            <small>
                                (use <em>Rebuild</em> to edit)
                            </small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Docker Base Image
                        </td>
                        <td>
                            <code>{{ .Instance.System.GetDockerBaseImage }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP Version
                        </td>
                        <td>
                            <code>{{ .Instance.System.PHP }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IIP Image Server
                        </td>
                        <td>
                            <code>{{ .Instance.System.IIPServer }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP Development Config
                        </td>
                        <td>
                            <code>{{ .Instance.System.PHPDevelopment }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Content Security Policy
                        </td>
                        <td>
                            <code>{{ .Instance.System.ContentSecurityPolicy }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pure-u-1 pure-u-xl-1-2">
    <div class="h-md-padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            System
                            <small>
                                (use <em>Rebuild</em> to edit)
                            </small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Docker Base Image
                        </td>
                        <td>
                            <code>{{ .Instance.System.GetDockerBaseImage }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP Version
                        </td>
                        <td>
                            <code>{{ .Instance.System.PHP }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IIP Image Server
                        </td>
                        <td>
                            <code>{{ .Instance.System.IIPServer }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PHP Development Config
                        </td>
                        <td>
                            <code>{{ .Instance.System.PHPDevelopment }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Content Security Policy
                        </td>
                        <td>
                            <code>{{ .Instance.System.ContentSecurityPolicy }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="pure-u-1 pure-u-xl-1-2">
    <div class="h-md-padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Build Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Created
                        </td>
                        <td>
                            <code class="date">{{ .Instance.Created.Format "2006-01-02T15:04:05Z07:00" }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Rebuild <br>
                            <a class="pure-button" href="/admin/instance/{{ .Info.Slug }}/rebuild">Rebuild</button>
                        </td>
                        <td>
                            <code class="date">{{ .Info.LastRebuild.Format "2006-01-02T15:04:05Z07:00" }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Update <br>
                            <button class="remote-action pure-button pure-button-action" data-action="update" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload>Update</button>
                        </td>
                        <td>
                            <code class="date">{{ .Info.LastUpdate.Format "2006-01-02T15:04:05Z07:00" }}</code><br>
                            (Automatic: <code>{{ .Instance.AutoBlindUpdateEnabled }}</code>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
