<div class="pure-u-1">
    <table class="pure-table pure-table-bordered padding">
        <thead>
            <tr>
                <th>Total</th>
                <th>Running</th>
                <th>Stopped</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ .TotalCount }}
                </td>
                <td>
                    {{ .RunningCount }}
                </td>
                <td>
                    {{ .StoppedCount }}
                </td>
            </tr>
        </tbody>
    </table>

    <span class="hspace"></span>
</div>

<div class="pure-u-1">
    <div class="h-md-padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered instances-table">
                <thead>
                    <tr>
                        <th>
                            <form class="pure-form">
                                <input type="text" id="search" placeholder="Filter…" data-filter-list="data-slug" aria-label="Filter instances" />
                            </form>
                        </th>
                        <th>Status</th>
                        <th>WissKI</th>
                        <th>Drupal</th>
                        <th>PHP</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Instances}}
                    <tr class="wisski {{ if .Running }}running{{ else }}stopped{{ end }} {{ if not .OK }}broken{{end}}" data-slug="{{.Slug}}">
                        <td>
                            <strong>{{.Slug}}</strong><br>
                            <a href="{{.URL}}" target="_blank" rel="noopener noreferrer">{{.URL}}</a>
                            {{ if .Instance.System.DedicatedSQL}}
                            <br><code>Dedicated SQL</code>
                            {{ end }}
                            {{ if .Instance.System.DedicatedTriplestore }}
                            <br><code>Dedicated Triplestore</code>
                            {{ end }}
                        </td>
                        <td>
                            {{ if .Running }}running{{ else }}stopped{{ end }}
                            {{ if not .OK }}
                            <br><span class="wisski-broken-label">STATUS FAILED</span>
                            {{ end }}
                        </td>
                        <td>{{ if .WissKIVersion }}{{ .WissKIVersion }}{{ else }}unknown{{ end }}</td>
                        <td>{{ .DrupalVersion }}</td>
                        <td>{{ .PHPVersion }}</td>
                        <td>
                            <div class="pure-button-group" role="group">
                                {{ if .Running }}
                                    <a class="pure-button pure-button-action" href="{{ .LoginURL }}" target="_blank" rel="noopener noreferrer">Login</a>
                                {{ end }}
                                <a class="pure-button" href="/admin/instance/{{.Slug}}">Details</a>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
