{{ $rebuild := .Rebuild }}
<div class="pure-u-1-1">
    <form class="pure-form pure-form-aligned" id="system">
        <fieldset>
            <legend>Main Parameters</legend>

            <div class="pure-control-group">
                <label for="slug">Slug</label>
                <input name="slug" id="slug" placeholder="" {{ if $rebuild }} readonly="readonly" value="{{ .Slug }}" {{ end }}>
            </div>
        </fieldset>
        <fieldset>
            <legend>System Parameters</legend>

            <div class="pure-control-group">
                <label for="php">PHP Version</label>
                <select id="php">
                    {{ $PHP := .System.PHP }}
                    <option {{ if $rebuild }}{{ if eq $PHP "" }}selected{{ end }}{{ else }}selected{{ end }}>Default ({{ .DefaultPHPVersion }})</option>
                    {{ range .PHPVersions }}
                    <option {{ if $rebuild }}{{ if eq $PHP . }}selected{{ end }}{{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>
            <label for="opcacheDevelopment" class="pure-checkbox">
                <input {{ if $rebuild }}{{ if .System.OpCacheDevelopment }}checked{{end}}{{end}} type="checkbox" id="opcacheDevelopment" />
                Opache Development Configuration
            </label>
            <div class="pure-control-group" class="pure-input-1">
                <label for="contentsecuritypolicy">Content Security Policy</label>
                <input name="contentsecuritypolicy" id="contentsecuritypolicy" list="content-security-policy" {{ if $rebuild }}value="{{ .System.ContentSecurityPolicy }}" {{ end }}>
            </div>
        </fieldset>
        <fieldset>
            <legend>Profile</legend>

            <div class="pure-control-group">
                Not yet available
            </div>
        </fieldset>

        <input type="submit" value="{{ if $rebuild }}Rebuild{{ else }}Provision{{ end }}" class="pure-button">
    </form>
</div>

<datalist id="content-security-policy">
    {{ range .ContentSecurityPolicies }}
    <option value="{{ . }}">
        {{ end }}
</datalist>