/** generic theme-style customization */

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header,
main,
footer {
    margin: 2em;
}

footer {
    font-size: small;
    border-top: 1px solid black;
    padding-top: 1em;
}

footer a {
    color: blue !important;
}

time {
    font-style: italic;
}

