.wisski {
    padding: 1em;
}

.wisski h3 {
    padding: 0;
}

.wisski .actions {
    float: right;
    position: relative;
    bottom: 2em;
}

/* WissKI Status */

.wisski-broken-message {
    box-sizing: border-box;
    background-color: #ff7a7a;
    border: 0.5em solid red;
    padding: 0.5em;
}

.wisski {
    position: relative;

    background-color: var(--wisski-status-color);
    border-left: 1em solid var(--wisski-accent-color);
}

.wisski.broken::after {
  content: 'STATUS FAILED';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 0em 1em;
  color: red;
  font-weight: bold;
  background-color: white;
  border: 1px solid var(--wisski-accent-color);
}

.wisski.running {
    --wisski-status-color: #9ADA07;
    --wisski-accent-color: green;
}

.wisski.stopped {
    --wisski-status-color: #ff7a7a;
    --wisski-accent-color: red;
}

.disabled {
    color: gray;
}
.warning {
    background-color: #FFE4B5;
}

.overflow {
    overflow: auto;
}

/* Informational Chips */

.info-chip {
    min-width: 75px;
    height: 15px;
    border-radius: 5px;
    display: block;
    padding: 5px;
    text-align: center;
}

.info-chip.note {
    background-color: gray;
    color: #fff;
}

.info-chip.info {
    background-color: green;
    color: #fff;
}

.info-chip.warning {
    background-color: yellow;
    color: #000;
}

.info-chip.error {
    background-color: red;
    color: #000;
}