.wisski {
    padding: 1em;
}

.wisski h3 {
    padding: 0;
}

.wisski a.pure-button {
    float: right;
    position: relative;
    bottom: 1em;
}

/* WissKI Status */

.wisski.running {
    background-color: #9ADA07;
}

.wisski.stopped {
    background-color: #ff7a7a;
}

.disabled {
    color: gray;
}
.warning {
    background-color: #FFE4B5;
}

.overflow {
    overflow: auto;
}

/* Informational Chips */

.info-chip {
    min-width: 75px;
    height: 15px;
    border-radius: 5px;
    display: block;
    padding: 5px;
    text-align: center;
}

.info-chip.note {
    background-color: gray;
    color: #fff;
}

.info-chip.info {
    background-color: green;
    color: #fff;
}

.info-chip.warning {
    background-color: yellow;
    color: #000;
}

.info-chip.error {
    background-color: red;
    color: #000;
}