body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header,
main,
footer {
    margin: 2em;
}

nav.tabs-menu {
    float: left;
    min-width: 10em;
    margin: 5px;
}

nav.top-menu, nav.breadcrumbs {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

nav.pure-menu :has(img.logo) {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
nav.pure-menu img.logo {
    height: 2.5em;
    width: 2.5em;
}

nav.breadcrumbs {
    padding-left: 1em;
    font-size: small;
}

nav.breadcrumbs a:not(:last-child)::after {
    cursor: default;
    content: " > ";
    color: black;
}
nav.breadcrumbs a {
    text-decoration: none;
    color: blue !important;
}
nav.breadcrumbs a.active {
    font-weight: bold;
}

footer {
    font-size: small;
    border-top: 1px solid black;
    padding-top: 1em;
}

footer a {
    color: blue !important;
}

time {
    font-style: italic;
}

.padding {
    padding: 1em;
}

.overflow {
    overflow-x: auto;
}

.overflow table {
    width: 100%;
}

.overflow table td,
.overflow table th {
    padding: .5em .5em;
}

div.spacer {
    clear: both;
}

.overflow table td:not(:last-child),
.overflow table th:not(:last-child) {
    width: 1px;
    text-align: left;
    white-space: nowrap;
}

.overflow table td:last-child,
.overflow table th:last-child {
    white-space: nowrap;
}

.hspace {
    display: block;
    height: 1em;
}
.pure-form-group {
    display: inline;
}

.pure-button-action {
    background-color: rgb(66, 184, 221) !important;
}

.pure-button-success {
    background-color: rgb(28, 184, 65) !important;
}

.pure-button-danger {
    background: rgb(202, 60, 60) !important;
}

.pure-button-warning {
    background: rgb(223, 117, 20) !important;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-select {
    min-width: 24ch; /* to match <input type="text"> */
}

.error-message {
    background-color: pink;
    border: 1px solid red;
    padding: 2px;
    color: red;
}