{{ template "_base.html" . }}
{{ define "title" }}Distillery Control Page - {{ .Info.Slug }}{{ end }}

{{ define "header"}}
<p>
    <a class="pure-button" href="/dis/index">Control</a> &gt;
    <a class="pure-button pure-button-primary" href="/dis/instance/{{ .Info.Slug }}">Instance</a>
</p>
{{ end }}

{{ define "content" }}
<div class="pure-u-1-1">
    <h2 id="overview">Info &amp; Status</h2>
</div>
<div class="pure-u-1 pure-u-xl-2-5">
    <div class="padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Overview
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Slug
                        </td>
                        <td>
                            <code>{{ .Info.Slug }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            URL
                        </td>
                        <td>
                            <a href="{{ .Info.URL }}" target="_blank" rel="noopener noreferrer">{{ .Info.URL }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Running
                        </td>
                        <td>
                            <code>{{ .Info.Running }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Locked
                        </td>
                        <td>
                            <code>{{ .Info.Locked }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pure-u-1 pure-u-xl-2-5">
    <div class="padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Component Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Directory
                        </td>
                        <td>
                            <code style="overflow: auto;">{{ .Instance.FilesystemBase }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SQL DB
                        </td>
                        <td>
                            <code>{{ .Instance.SqlDatabase }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SQL User
                        </td>
                        <td>
                            <code>{{ .Instance.SqlUsername }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TS Repo
                        </td>
                        <td>
                            <code>{{ .Instance.GraphDBRepository }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TS User
                        </td>
                        <td>
                            <code>{{ .Instance.GraphDBUsername }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pure-u-1 pure-u-xl-2-5">
    <div class="padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Build Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Created
                        </td>
                        <td>
                            <code class="date">{{ .Instance.Created.Format "2006-01-02T15:04:05Z07:00" }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Rebuild <br>
                            <button class="remote-action pure-button pure-button-action" data-action="rebuild" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload="true">Rebuild</button>
                        </td>
                        <td>
                            <code class="date">{{ .Info.LastRebuild.Format "2006-01-02T15:04:05Z07:00" }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Cron<br>
                            <button class="remote-action pure-button pure-button-action" data-action="cron" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload="true">Cron</button>
                        </td>
                        <td>
                            <code class="date">{{ .Info.LastRebuild.Format "2006-01-02T15:04:05Z07:00" }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Update <br>
                            <button class="remote-action pure-button pure-button-action" data-action="update" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload="true">Update</button>
                        </td>
                        <td>
                            <code class="date">{{ .Info.LastUpdate.Format "2006-01-02T15:04:05Z07:00" }}</code><br>
                            (Automatic: <code>{{ .Instance.AutoBlindUpdateEnabled }}</code>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pure-u-1 pure-u-xl-2-5">
    <!--
                <div class="padding">
                    <div class="overflow">
                        <table class="pure-table pure-table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Composer Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        ???
                                    </td>
                                    <td>
                                        ???
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                -->
</div>

<div class="pure-u-1-1">
    <h2 id="wisski">WissKI Data</h2>
</div>

<div class="pure-u-1 pure-u-xl-1-2">
    <div class="padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Pathbuilders
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {{ range $name, $xml := .Info.Pathbuilders }}
                    <tr>
                        <td>
                            <code>{{ $name }}</code>
                        </td>
                        <td>
                            <code class="pathbuilder" data-name="{{ $name }}">{{ $xml }}</code>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pure-u-1 pure-u-xl-1-2">
    <div class="padding">
        <div class="overflow">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>
                            URI Prefixes

                            {{ if .Info.NoPrefixes }}
                            (excluded from resolver)
                            {{ end }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $index, $prefix := .Info.Prefixes }}
                    <tr>
                        <td>
                            <code>{{ $prefix }}</code>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="pure-u-1-1">
    <h2 id="snapshots">Snapshots</h2>
    <p>
        <button class="remote-action pure-button pure-button-action" data-action="snapshot" data-param="{{ .Instance.Slug }}" data-buffer="1000" data-force-reload="true">Take a snapshot</button>
    </p>
</div>

<div class="pure-u-1">
    <table class="pure-table pure-table-bordered padding">
        <thead>
            <tr>
                <th>Path</th>
                <th>Created</th>
                <th>Packed</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Info.Snapshots }}
            <tr>
                <td>
                    <code class="path">{{ .Path }}</code>
                </td>
                <td>
                    <code class="date">{{ .Created.Format "2006-01-02T15:04:05Z07:00" }}</code>
                </td>
                <td>
                    {{ .Packed }}
                </td>
            </tr>
            {{ end}}
        </tbody>
    </table>
</div>
{{ end }}