{{ template "_base.html" . }}
{{ define "title" }}Distillery User{{ end }}

{{ define "header/time" }}
<!-- no header/time -->
{{ end }}
{{ define "header"}}
<!-- no header -->
{{ end }}

{{ define "content" }}
<div class="pure-u-1">
    <div>
        Welcome {{ .User.User }}!
        <hr />
    </div>
</div>

<div class="pure-u-1">
    <div class="pure-button-group" role="group" role="Actions">
        <a class="pure-button" href="/auth/logout/">Logout</a>
    </div>
    <hr /> 
</div>

<div class="pure-u-1">
    <div class="pure-button-group" role="group" role="Actions">
        <a class="pure-button" href="/auth/password/">Change Password</a>
        {{ if .User.TOTPEnabled }}
        <a class="pure-button" href="/auth/totp/disable/">Disable TOTP</a>
        {{ else }}
        <a class="pure-button" href="/auth/totp/enable/">Enable TOTP</a>
        {{ end }}
    </div>
</div>

{{ end }}