{{ template "_form.html" . }}
{{ define "form/title" }}Disable TOTP{{ end }}
{{ define "form/button" }}Disable{{ end }}

{{ define "header"}}
<p>
    <a class="pure-button" href="/user/">{{ .User.User }}</a> &gt;
    <a class="pure-button pure-button-primary" href="/user/totp/disable/">Disable TOTP</a>
</p>
<p>
    <a class="pure-button pure-button-small" href="/user/logout/">Logout</a>
</p>
{{ end }}

{{ define "form/inside" }}
<div>
    <ul>
        <li>remove the TOTP token from your account</li>
        <li>your account will be less secure, but you will be able to login without it</li>
    </ul>
</div>
{{ end }}