{{ template "_form.html" . }}
{{ define "form/title" }}Enable TOTP{{ end }}
{{ define "form/button" }}Enable{{ end }}
{{ define "header"}}
<p>
    <a class="pure-button" href="/user/">{{ .User.User }}</a> &gt;
    <a class="pure-button pure-button-primary" href="/user/totp/enable/">Enable TOTP</a>
</p>
<p>
    <a class="pure-button pure-button-small" href="/user/logout/">Logout</a>
</p>
{{ end }}
{{ define "form/inside" }}
<div>
    <ul>
        <li>Use this page to add a <a href="https://en.wikipedia.org/wiki/Time-based_one-time_password">TOTP</a> token to your account</li>
        <li>You will not be able to login without the second factor</li>
        <li>If you forget your token, only an administrator can reset it</li>
    </ul>
</div>
{{ end }}