html {
    line-height: 1.5;
    font-family: Roboto;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
}
body {
    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 1em;
    }
}

h1 {
    margin-top: 1.4em;
}

h2,h3 {
    margin-top: 1em;    
}

code {
    font-family: Roboto Mono;
    color: blue;
}

p {
    margin: 1em 0;
    text-align: justify;
}

a, a:visited {
    color: #1a1a1a;
}

footer {
    border-top: 1px solid #1a1a1a;
    font-size: small;
    text-align: center;
}

.wisski {
    padding-left: 5px;
}

.wisski.running {
    background-color: green;
}

.wisski.stopped {
    background-color: red;
}

